<head>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/gh/ocramz/htmx-plotly@0.4/htmx-plotly.js" integrity="sha256-FgvTlDVvVXn0uoRXC9MLfkxAsu9AOoGMxFRwc7If9Cg=" crossorigin="anonymous"></script>
    
</head>


<!-- <div id="pcloud-plot"> -->

    
        


    <!-- <script>
        document.addEventListener('DOMContentLoaded', function() {
            console.log('DOM fully loaded and parsed');
            try {
                var plotData = {{ pcloud|safe|default:"null" }};
                console.log('Plotly data:', plotData);

                if (plotData && plotData.data) {
                    console.log('Plotly data found, rendering plot...');
                    Plotly.newPlot('pcloud', plotData.data, plotData.layout);
                } else {
                    console.log('No valid Plotly data available');
                }
            } catch (error) {
                console.error('Error rendering Plotly plot:', error);
            }
        });
    </script> -->

    <!-- <script>
        document.addEventListener('DOMContentLoaded', function() {
            console.log('DOM fully loaded and parsed');
            try {
                var plotData = JSON.parse('{{ pcloud|safe }}');
                console.log('Plotly data:', plotData);

                if (plotData && plotData.data) {
                    console.log('Plotly data found, rendering plot...');
                    Plotly.newPlot('pcloud', plotData.data, plotData.layout);
                } else {
                    console.log('No valid Plotly data available');
                }
            } catch (error) {
                console.error('Error rendering Plotly plot:', error);
            }
        });
    </script> -->


<!-- <div id="plot1" style="width: 100%; height: 100%;"></div>

<script>
    
    var data = {{ pcloud|safe }}; 
    var layout = { autosize: true };
    Plotly.newPlot('plot1', data, layout);
    
</script> -->


<!-- <div id="pcloud"> 
    <script>
        try {
            var data = JSON.parse('{{ pcloud|escapejs }}');
            console.log("Plot data:", data);  // Log the data to the console
            if (data) {
                Plotly.newPlot('pcloud', data.data, data.layout);
            } else {
                console.error("Data is undefined or null");
            }
        } catch (e) {
            console.error("Error while creating plot:", e);
        }
    </script>
</div> -->



<!-- <div id="pcloud">
    <script>
        try {
            var pcloudData = '{{ pcloud|escapejs|default:"" }}';
            console.log("Raw pcloud data:", pcloudData);  // Log the raw data to the console
            if (pcloudData) {
                var data = JSON.parse(pcloudData);  // Properly parse the JSON string
                console.log("Parsed plot data:", data);  // Log the data to the console
                Plotly.newPlot('pcloud', data.data, data.layout);
            } else {
                console.error("pcloud data is undefined or empty");
            }
        } catch (e) {
            console.error("Error while creating plot:", e);
        }
    </script>
</div> -->


<div>{{ pcloud|safe }}</div>
